<div class="col-md-1"></div>
<div class="col-md-10 paysInfo" ng-init="vm.Init()">
  <div class="row" id="desc">
    <div class="col-md-4">
      <img class="img-responsive"  style="height: 150px;" src="assets/images/perfstock/drapeau/{{vm.pays.drapeau}}" alt="">

    </div>
    <div class="col-md-8" id="nomS">
      <h1>{{vm.pays.nom}}</h1>
      <div class="col-md-12">
        <p>{{vm.pays.description | limitTo: 50 }}</p>
      </div>
    </div>
  </div>
  <uib-tabset active="activeJustified" justified="true">
    <uib-tab index="0" heading="ACTUALITE">

      <list-actualites pays="vm.pays"></list-actualites>
    </uib-tab>
    <uib-tab index="1" heading="DOCUMENTATION">
      <div class="row" style="padding: 30px 0px 0px 10px" ng-repeat="documentation in vm.documentationsPays">
        <h4 class="">
          <p style="font-family: 'Crimson Text', serif; font-size: 28px; letter-spacing: 0.1em; line-height: 1.2em; margin-left: 40%;margin-bottom: 20px;">{{documentation.libelle}}</p>
        </h4>
        <h2 class="simple-text">
          {{documentation.contenu}}
        </h2>
      </div>
    </uib-tab>
    <uib-tab index="2" heading="AGENDA">
      <div class="row" style="padding: 30px 10px 10px 10px" ng-repeat="agenda in vm.agendasPays">
        <h4 class="simple-title">
          <p style="font-family: 'Crimson Text', serif; font-size: 28px; letter-spacing: 0.1em; line-height: 1.2em; margin-left: 30%;margin-bottom: 20px;">Senegal (14 Regions)</p>
        </h4>
        <h2 class="simple-text">
          {{agenda.contenu}} </h2>
      </div>
    </uib-tab>
  </uib-tabset>
</div>
<div class="col-md-1"></div>
