.paysInfo {
    margin-top: 250px;
}

#desc{
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 17px;
}

#nomS{
    font-size: 25px;
    text-align: left;
}


/*.header { background-color: #222; }*/