<div id="content-wrapper" ng-init="vm.Init()" style="margin-top: 180px;">

  <!-- SHEDULE -->
  <div id="schedule" class="main-block bg-grey">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          <div class="block-header">
            <h4 class="block-category">Notre Réseau</h4>
            <h2 class="block-title">PAYS</h2>
          </div>
          <!-- <div class="block-summary">
                                    Découvrez notre réseau de pays membres et les informations clés sur leurs stratégie d'émergence:
                                    - Plan  stratégique <br />
                                    - Dispositif de mise en ouevre <br />
                                    - Projets phares <br />
                                    - Bonnes pratiques <br />
                                </div> -->
        </div>
      </div>
      <div class="tab-wrapper">
        <div class="tab-nav-wrapper">
          <div class="nav-tab">
            <div class="nav-tab-item active">
              Pays Africains
            </div>

            <!-- <div class="nav-tab-item">
                                              Gouvernance
                                      </div> -->
          </div>
        </div>
        <div class="tabs-content clearfix">
          <div ng-repeat="pays in vm.listPays" class="tab-info active">

            <div ng-if="vm.modulo(pays._id) === 1">
             <div class="shedule-block left" >
               <a  id="demo01" ui-sref="paysinfo({paysName:pays.nom})">
               <img class="shedule-user " style="width: 100px; height: 100px;" src="assets/images/perfstock/drapeau/{{pays.drapeau}}" alt="">
               <div class="shedule-entry">
                <div class="shedule-date">Vision 2020</div>
                <h4 class="shedule-speaker">{{pays.nom}}</h4>

                <div class="shedule-text">{{pays.description}}</div>
                <img class="img-responsive" src="assets/images/perfstock/pays/Photos Pays/{{pays.image}}" alt="">
              </div>
               </a>
             </div>
            </div>

            <div ng-if="vm.modulo(pays._id) === 0">
              <div class="shedule-block left" >
                <a  id="demo01" ui-sref="paysinfo({paysName:pays.nom})">
                  <img class="shedule-user " style="width: 100px; height: 100px;" src="assets/images/perfstock/drapeau/{{pays.drapeau}}" alt="">
                  <div class="shedule-entry">
                    <div class="shedule-date">Vision 2020</div>
                    <h4 class="shedule-speaker">{{pays.nom}}</h4>

                    <div class="shedule-text">{{pays.description}}</div>
                    <img class="img-responsive" src="assets/images/perfstock/pays/Photos Pays/{{pays.image}}" alt="">
                  </div>
                </a>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>

  <!--DEMO01-->
  <div id="animatedModal" class="animated animatedModal-off" style="position: fixed; width: 100%; height: 100%; top: 0px; left: 0px; background-color: rgb(0, 0, 0); overflow-y: auto; z-index: -9999; opacity: 0; animation-duration: 0.6s;">
    <!--THIS IS IMPORTANT! to close the modal, the class name has to match the name given on the ID  class="close-animatedModal" -->
    <div class="close-animatedModal">
      X - FERMER LA FENETRE
    </div>

    <div class="modal-content">
      <!-- SLIDER WITH THUMBS -->
      <div id="speakers" class="main-block clearfix modal-block">
        <!-- <div class="container">
                                    <div class="row">
                                            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                                                    <div class="block-header">
                                                            <h4 class="block-category">Interviews</h4>
                                                            <h2 class="block-title">Paroles d'experts</h2>
                                                    </div>
                                            </div>
                                    </div>
                            </div> -->
        <div class="slider-wth-thumbs">
          <div class="swiper-container thumbnails-preview swiper-swiper-unique-id-0 initialized" data-autoplay="0" data-loop="1" data-speed="500" data-center="0" data-slides-per-view="1" id="swiper-unique-id-0">

            <div class="swiper-wrapper" style="width: 6920px; transform: translate3d(-692px, 0px, 0px); transition-duration: 0s; height: 915px;"><div class="swiper-slide swiper-slide-duplicate" data-val="7" style="width: 692px; height: 915px;">
              <div class="speaker-img background-block" style="background-image: url(&quot;img/perfstock/pays/ivorycoast.jpg&quot;);"><img class="center-image" src="assets/img/perfstock/pays/ivorycoast.jpg" alt="" style="display: none;"></div>
              <div class="container">
                <div class="row">
                  <div class="col-xs-12 col-md-6">
                    <div class="speaker-block">
                      <div class="speaker-title">Côte d'Ivoire</div>
                      <div class="speaker-category">PND 2016-2020</div>
                      <div class="speaker-text">La Côte d'Ivoire a l'ambition de devenir un pays émergent à l'horizon 2020. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
                      <div class="speaker-social clearfix">
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-skype"></i></a>
                      </div>
                      <div class="speaker-change clearfix">
                        <img src="assets/img/speaker_change_1.jpg" data-image="img/speaker_change_1_b.jpg" alt="">
                        <img src="assets/img/speaker_change_2.jpg" data-image="img/speaker_change_2_b.jpg" alt="">
                        <img src="assets/img/speaker_change_3.jpg" data-image="img/speaker_change_3_b.jpg" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

              <div class="swiper-slide active swiper-slide-visible swiper-slide-active" data-val="0" style="width: 692px; height: 915px;">
                <div class="speaker-img background-block" style="background-image: url(&quot;img/perfstock/pays/rwanda.jpg&quot;);"><img class="center-image" src="assets/img/perfstock/pays/rwanda.jpg" alt="" style="display: none;"></div>
                <div class="container">
                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <div class="speaker-block">
                        <div class="speaker-title">Rwanda</div>
                        <div class="speaker-category">Vision 2020</div>
                        <div class="speaker-text">
                          Le Rwanda figure aujourd’hui parmi les pays africains les plus prisés par les investisseurs étrangers.
                          <br><br>
                          Pour le ministre de la jeunesse et des TIC, Jean Philbert Nsengimana, le Rwanda doit voir l’avenir en « Smart ». Dans ce petit pays d’Afrique
                          centrale où 60 % de la population a moins de 25 ans, l’innovation technologique s’est imposée comme un secteur clé du développement.
                          <br><br>
                          Exemple : outre le « mobile banking », les transports publics seront bientôt tous équipés de connexions wifi et la fonction publique s’apprête à
                          digitaliser ses services.
                        </div>
                        <!-- <div class="speaker-social clearfix">
                                                                      <a href="#"><i class="fa fa-google-plus"></i></a>
                                                                      <a href="#"><i class="fa fa-facebook"></i></a>
                                                                      <a href="#"><i class="fa fa-twitter"></i></a>
                                                                      <a href="#"><i class="fa fa-linkedin"></i></a>
                                                                      <a href="#"><i class="fa fa-skype"></i></a>
                                                                  </div> -->
                        <!-- <div class="speaker-change clearfix">
                                                                      <img src="assets/img/speaker_change_1.jpg" data-image="img/speaker_change_1_b.jpg" alt="">
                                                                      <img src="assets/img/speaker_change_2.jpg" data-image="img/speaker_change_2_b.jpg" alt="">
                                                                      <img src="assets/img/speaker_change_3.jpg" data-image="img/speaker_change_3_b.jpg" alt="">
                                                                  </div> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="swiper-slide" data-val="1" style="width: 692px; height: 915px;">
                <div class="speaker-img background-block" style="background-image: url(&quot;img/perfstock/pays/senegal.jpg&quot;);"><img class="center-image" src="assets/img/perfstock/pays/senegal.jpg" alt="" style="display: none;"></div>
                <div class="container">
                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <div class="speaker-block">
                        <div class="speaker-title">Senegal</div>
                        <div class="speaker-category">Plan Sénégal Emergent</div>
                        <div class="speaker-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
                        <div class="speaker-social clearfix">
                          <a href="#"><i class="fa fa-google-plus"></i></a>
                          <a href="#"><i class="fa fa-facebook"></i></a>
                          <a href="#"><i class="fa fa-twitter"></i></a>
                          <a href="#"><i class="fa fa-linkedin"></i></a>
                          <a href="#"><i class="fa fa-skype"></i></a>
                        </div>
                        <div class="speaker-change clearfix">
                          <img src="assets/img/speaker_change_1.jpg" data-image="img/speaker_change_1_b.jpg" alt="">
                          <img src="assets/img/speaker_change_2.jpg" data-image="img/speaker_change_2_b.jpg" alt="">
                          <img src="assets/img/speaker_change_3.jpg" data-image="img/speaker_change_3_b.jpg" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="swiper-slide" data-val="2" style="width: 692px; height: 915px;">
                <div class="speaker-img background-block" style="background-image: url(&quot;img/perfstock/pays/gabon.jpg&quot;);"><img class="center-image" src="assets/img/perfstock/pays/gabon.jpg" alt="" style="display: none;"></div>
                <div class="container">
                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <div class="speaker-block">
                        <div class="speaker-title">Gabon</div>
                        <div class="speaker-category">Fondateur Performances Group</div>
                        <div class="speaker-text">Le projet de "Gabon émergent" consiste à mettre en oeuvre une stratégie autour de trois piliers de croissance dont le ressort est la valorisation du potentiel en ressources humaines, naturelles et minéralières du Gabon.</div>
                        <div class="speaker-social clearfix">
                          <a href="#"><i class="fa fa-google-plus"></i></a>
                          <a href="#"><i class="fa fa-facebook"></i></a>
                          <a href="#"><i class="fa fa-twitter"></i></a>
                          <a href="#"><i class="fa fa-linkedin"></i></a>
                          <a href="#"><i class="fa fa-skype"></i></a>
                        </div>
                        <div class="speaker-change clearfix">
                          <img src="assets/img/speaker_change_1.jpg" data-image="img/speaker_change_1_b.jpg" alt="">
                          <img src="assets/img/speaker_change_2.jpg" data-image="img/speaker_change_2_b.jpg" alt="">
                          <img src="assets/img/speaker_change_3.jpg" data-image="img/speaker_change_3_b.jpg" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="swiper-slide" data-val="3" style="width: 692px; height: 915px;">
                <div class="speaker-img background-block" style="background-image: url(&quot;img/perfstock/pays/ivorycoast.jpg&quot;);"><img class="center-image" src="assets/img/perfstock/pays/ivorycoast.jpg" alt="" style="display: none;"></div>
                <div class="container">
                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <div class="speaker-block">
                        <div class="speaker-title">Côte d'Ivoire</div>
                        <div class="speaker-category"> PND 2016-2020</div>
                        <div class="speaker-text">La Côte d'Ivoire a l'ambition de devenir un pays émergent à l'horizon 2020. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
                        <div class="speaker-social clearfix">
                          <a href="#"><i class="fa fa-google-plus"></i></a>
                          <a href="#"><i class="fa fa-facebook"></i></a>
                          <a href="#"><i class="fa fa-twitter"></i></a>
                          <a href="#"><i class="fa fa-linkedin"></i></a>
                          <a href="#"><i class="fa fa-skype"></i></a>
                        </div>
                        <div class="speaker-change clearfix">
                          <img src="assets/img/speaker_change_1.jpg" data-image="img/speaker_change_1_b.jpg" alt="">
                          <img src="assets/img/speaker_change_2.jpg" data-image="img/speaker_change_2_b.jpg" alt="">
                          <img src="assets/img/speaker_change_3.jpg" data-image="img/speaker_change_3_b.jpg" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="swiper-slide" data-val="4" style="width: 692px; height: 915px;">
                <div class="speaker-img background-block" style="background-image: url(&quot;img/perfstock/pays/rwanda.jpg&quot;);"><img class="center-image" src="assets/img/perfstock/pays/rwanda.jpg" alt="" style="display: none;"></div>
                <div class="container">
                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <div class="speaker-block">
                        <div class="speaker-title">Rwanda</div>
                        <div class="speaker-category">Vision 2020</div>
                        <div class="speaker-text">
                          Le Rwanda figure aujourd’hui parmi les pays africains les plus prisés par les investisseurs étrangers.
                          <br><br>
                          Pour le ministre de la jeunesse et des TIC, Jean Philbert Nsengimana, le Rwanda doit voir l’avenir en « Smart ». Dans ce petit pays d’Afrique
                          centrale où 60 % de la population a moins de 25 ans, l’innovation technologique s’est imposée comme un secteur clé du développement.
                          <br><br>
                          Exemple : outre le « mobile banking », les transports publics seront bientôt tous équipés de connexions wifi et la fonction publique s’apprête à
                          digitaliser ses services.
                        </div>
                        <!-- <div class="speaker-social clearfix">
                                                                      <a href="#"><i class="fa fa-google-plus"></i></a>
                                                                      <a href="#"><i class="fa fa-facebook"></i></a>
                                                                      <a href="#"><i class="fa fa-twitter"></i></a>
                                                                      <a href="#"><i class="fa fa-linkedin"></i></a>
                                                                      <a href="#"><i class="fa fa-skype"></i></a>
                                                                  </div> -->
                        <!-- <div class="speaker-change clearfix">
                                                                      <img src="assets/img/speaker_change_1.jpg" data-image="img/speaker_change_1_b.jpg" alt="">
                                                                      <img src="assets/img/speaker_change_2.jpg" data-image="img/speaker_change_2_b.jpg" alt="">
                                                                      <img src="assets/img/speaker_change_3.jpg" data-image="img/speaker_change_3_b.jpg" alt="">
                                                                  </div> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="swiper-slide" data-val="5" style="width: 692px; height: 915px;">
                <div class="speaker-img background-block" style="background-image: url(&quot;img/perfstock/pays/senegal.jpg&quot;);"><img class="center-image" src="assets/img/perfstock/pays/senegal.jpg" alt="" style="display: none;"></div>
                <div class="container">
                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <div class="speaker-block">
                        <div class="speaker-title">Senegal</div>
                        <div class="speaker-category">Plan Sénégal Emergent</div>
                        <div class="speaker-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
                        <div class="speaker-social clearfix">
                          <a href="#"><i class="fa fa-google-plus"></i></a>
                          <a href="#"><i class="fa fa-facebook"></i></a>
                          <a href="#"><i class="fa fa-twitter"></i></a>
                          <a href="#"><i class="fa fa-linkedin"></i></a>
                          <a href="#"><i class="fa fa-skype"></i></a>
                        </div>
                        <div class="speaker-change clearfix">
                          <img src="assets/img/speaker_change_1.jpg" data-image="img/speaker_change_1_b.jpg" alt="">
                          <img src="assets/img/speaker_change_2.jpg" data-image="img/speaker_change_2_b.jpg" alt="">
                          <img src="assets/img/speaker_change_3.jpg" data-image="img/speaker_change_3_b.jpg" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="swiper-slide" data-val="6" style="width: 692px; height: 915px;">
                <div class="speaker-img background-block" style="background-image: url(&quot;img/perfstock/pays/gabon.jpg&quot;);"><img class="center-image" src="assets/img/perfstock/pays/gabon.jpg" alt="" style="display: none;"></div>
                <div class="container">
                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <div class="speaker-block">
                        <div class="speaker-title">Gabon</div>
                        <div class="speaker-category">Fondateur Performances Group</div>
                        <div class="speaker-text">Le projet de "Gabon émergent" consiste à mettre en oeuvre une stratégie autour de trois piliers de croissance dont le ressort est la valorisation du potentiel en ressources humaines, naturelles et minéralières du Gabon.</div>
                        <div class="speaker-social clearfix">
                          <a href="#"><i class="fa fa-google-plus"></i></a>
                          <a href="#"><i class="fa fa-facebook"></i></a>
                          <a href="#"><i class="fa fa-twitter"></i></a>
                          <a href="#"><i class="fa fa-linkedin"></i></a>
                          <a href="#"><i class="fa fa-skype"></i></a>
                        </div>
                        <div class="speaker-change clearfix">
                          <img src="assets/img/speaker_change_1.jpg" data-image="img/speaker_change_1_b.jpg" alt="">
                          <img src="assets/img/speaker_change_2.jpg" data-image="img/speaker_change_2_b.jpg" alt="">
                          <img src="assets/img/speaker_change_3.jpg" data-image="img/speaker_change_3_b.jpg" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="swiper-slide" data-val="7" style="width: 692px; height: 915px;">
                <div class="speaker-img background-block" style="background-image: url(&quot;img/perfstock/pays/ivorycoast.jpg&quot;);"><img class="center-image" src="assets/img/perfstock/pays/ivorycoast.jpg" alt="" style="display: none;"></div>
                <div class="container">
                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <div class="speaker-block">
                        <div class="speaker-title">Côte d'Ivoire</div>
                        <div class="speaker-category">PND 2016-2020</div>
                        <div class="speaker-text">La Côte d'Ivoire a l'ambition de devenir un pays émergent à l'horizon 2020. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
                        <div class="speaker-social clearfix">
                          <a href="#"><i class="fa fa-google-plus"></i></a>
                          <a href="#"><i class="fa fa-facebook"></i></a>
                          <a href="#"><i class="fa fa-twitter"></i></a>
                          <a href="#"><i class="fa fa-linkedin"></i></a>
                          <a href="#"><i class="fa fa-skype"></i></a>
                        </div>
                        <div class="speaker-change clearfix">
                          <img src="assets/img/speaker_change_1.jpg" data-image="img/speaker_change_1_b.jpg" alt="">
                          <img src="assets/img/speaker_change_2.jpg" data-image="img/speaker_change_2_b.jpg" alt="">
                          <img src="assets/img/speaker_change_3.jpg" data-image="img/speaker_change_3_b.jpg" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>




              <div class="swiper-slide active swiper-slide-duplicate" data-val="0" style="width: 692px; height: 915px;">
                <div class="speaker-img background-block" style="background-image: url(&quot;img/perfstock/pays/rwanda.jpg&quot;);"><img class="center-image" src="assets/img/perfstock/pays/rwanda.jpg" alt="" style="display: none;"></div>
                <div class="container">
                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <div class="speaker-block">
                        <div class="speaker-title">Rwanda</div>
                        <div class="speaker-category">Vision 2020</div>
                        <div class="speaker-text">
                          Le Rwanda figure aujourd’hui parmi les pays africains les plus prisés par les investisseurs étrangers.
                          <br><br>
                          Pour le ministre de la jeunesse et des TIC, Jean Philbert Nsengimana, le Rwanda doit voir l’avenir en « Smart ». Dans ce petit pays d’Afrique
                          centrale où 60 % de la population a moins de 25 ans, l’innovation technologique s’est imposée comme un secteur clé du développement.
                          <br><br>
                          Exemple : outre le « mobile banking », les transports publics seront bientôt tous équipés de connexions wifi et la fonction publique s’apprête à
                          digitaliser ses services.
                        </div>
                        <!-- <div class="speaker-social clearfix">
                                                                      <a href="#"><i class="fa fa-google-plus"></i></a>
                                                                      <a href="#"><i class="fa fa-facebook"></i></a>
                                                                      <a href="#"><i class="fa fa-twitter"></i></a>
                                                                      <a href="#"><i class="fa fa-linkedin"></i></a>
                                                                      <a href="#"><i class="fa fa-skype"></i></a>
                                                                  </div> -->
                        <!-- <div class="speaker-change clearfix">
                                                                      <img src="assets/img/speaker_change_1.jpg" data-image="img/speaker_change_1_b.jpg" alt="">
                                                                      <img src="assets/img/speaker_change_2.jpg" data-image="img/speaker_change_2_b.jpg" alt="">
                                                                      <img src="assets/img/speaker_change_3.jpg" data-image="img/speaker_change_3_b.jpg" alt="">
                                                                  </div> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div></div>
            <div class="pagination pagination-swiper-unique-id-0"><span class="swiper-pagination-switch swiper-visible-switch swiper-active-switch"></span><span class="swiper-pagination-switch"></span><span class="swiper-pagination-switch"></span><span class="swiper-pagination-switch"></span><span class="swiper-pagination-switch"></span><span class="swiper-pagination-switch"></span><span class="swiper-pagination-switch"></span><span class="swiper-pagination-switch"></span></div>
            <div class="swiper-arrow-left style-1"><img src="assets/img/arrow_left.png" alt=""></div>
            <div class="swiper-arrow-right style-1"><img src="assets/img/arrow_right.png" alt=""></div>
          </div>
          <div class="swiper-container thumbnails swiper-swiper-unique-id-1 initialized" data-autoplay="0" data-loop="0" data-speed="500" data-center="0" data-slides-per-view="responsive" data-mob-slides="3" data-xs-slides="4" data-sm-slides="6" data-md-slides="7" data-lg-slides="8" data-add-slides="8" id="swiper-unique-id-1">
            <div class="swiper-wrapper" style="width: 928px; height: 70px;">

              <div class="swiper-slide current active swiper-slide-visible swiper-slide-active" data-val="0" style="width: 116px; height: 70px;">
                <img class="img-responsive img-full" src="assets/img/perfstock/pays/modal/rwanda.jpg" alt="">
                <div class="thumb-desc">
                  <div class="thumb-title">Rwanda</div>
                  <div class="thumb-text">Vision 2020</div>
                </div>
                <div class="thumb-overlay"></div>
              </div>
              <div class="swiper-slide swiper-slide-visible" data-val="1" style="width: 116px; height: 70px;">
                <img class="img-responsive img-full" src="assets/img/perfstock/pays/modal/senegal.jpg" alt="">
                <div class="thumb-desc">
                  <div class="thumb-title">Senegal</div>
                  <div class="thumb-text">Plan Senegal Emergent</div>
                </div>
                <div class="thumb-overlay"></div>
              </div>
              <div class="swiper-slide swiper-slide-visible" data-val="2" style="width: 116px; height: 70px;">
                <img class="img-responsive img-full" src="assets/img/perfstock/pays/modal/gabon.jpg" alt="">
                <div class="thumb-desc">
                  <div class="thumb-title">Gabon</div>
                  <div class="thumb-text">PLAN STRATÉGIQUE GABON EMERGENT</div>
                </div>
                <div class="thumb-overlay"></div>
              </div>

              <div class="swiper-slide current active swiper-slide-visible" data-val="3" style="width: 116px; height: 70px;">
                <img class="img-responsive img-full" src="assets/img/perfstock/pays/modal/ivorycoast.jpg" alt="">
                <div class="thumb-desc">
                  <div class="thumb-title">Côte d'Ivoire</div>
                  <div class="thumb-text">PND 2016-2020</div>
                </div>
                <div class="thumb-overlay"></div>
              </div>


              <div class="swiper-slide current active swiper-slide-visible" data-val="4" style="width: 116px; height: 70px;">
                <img class="img-responsive img-full" src="assets/img/perfstock/pays/modal/rwanda.jpg" alt="">
                <div class="thumb-desc">
                  <div class="thumb-title">Rwanda</div>
                  <div class="thumb-text">Vision 2020</div>
                </div>
                <div class="thumb-overlay"></div>
              </div>
              <div class="swiper-slide swiper-slide-visible" data-val="5" style="width: 116px; height: 70px;">
                <img class="img-responsive img-full" src="assets/img/perfstock/pays/modal/senegal.jpg" alt="">
                <div class="thumb-desc">
                  <div class="thumb-title">Senegal</div>
                  <div class="thumb-text">Plan Senegal Emergent</div>
                </div>
                <div class="thumb-overlay"></div>
              </div>
              <div class="swiper-slide swiper-slide-visible" data-val="6" style="width: 116px; height: 70px;">
                <img class="img-responsive img-full" src="assets/img/perfstock/pays/modal/gabon.jpg" alt="">
                <div class="thumb-desc">
                  <div class="thumb-title">Gabon</div>
                  <div class="thumb-text">PLAN STRATÉGIQUE GABON EMERGENT</div>
                </div>
                <div class="thumb-overlay"></div>
              </div>

              <div class="swiper-slide current active swiper-slide-visible" data-val="7" style="width: 116px; height: 70px;">
                <img class="img-responsive img-full" src="assets/img/perfstock/pays/modal/ivorycoast.jpg" alt="">
                <div class="thumb-desc">
                  <div class="thumb-title">Côte d'Ivoire</div>
                  <div class="thumb-text">PND 2016-2020</div>
                </div>
                <div class="thumb-overlay"></div>
              </div>



            </div>
            <div class="pagination hidden pagination-swiper-unique-id-1"><span class="swiper-pagination-switch swiper-visible-switch swiper-active-switch" style="display: inline-block;"></span><span class="swiper-pagination-switch swiper-visible-switch" style="display: inline-block;"></span><span class="swiper-pagination-switch swiper-visible-switch" style="display: inline-block;"></span><span class="swiper-pagination-switch swiper-visible-switch" style="display: none;"></span><span class="swiper-pagination-switch swiper-visible-switch" style="display: none;"></span><span class="swiper-pagination-switch swiper-visible-switch" style="display: none;"></span><span class="swiper-pagination-switch swiper-visible-switch" style="display: none;"></span><span class="swiper-pagination-switch swiper-visible-switch" style="display: none;"></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="contact" class="contact-block bg-dark">
    <div class="map-block slogan-block" data-style="style-1">
      <div class="contact-title">
        Emergence Insights,<br> l'Emergence Africaine est en marche
      </div>
    </div>
    <div class="addresses-block">
      <a data-lat="40.687971" data-lng="-73.827457" data-string="1. Here is some address or email or phone or something else..."></a>
      <a data-lat="40.725604" data-lng="-73.445888" data-string="2. Here is some address or email or phone or something else..."></a>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="contact-entry">
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <div class="s-contact">
                  <div class="contact-catagory">Nous joindre</div>
                  <div class="contact-title">contact</div>
                  <div class="contact-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</div>
                  <div class="contact-row">
                    <p><i class="fa fa-map-marker"></i> 44 Place de l'independance</p>
                    <p><i class="fa fa-envelope-o"></i><a href="mailto:emergenceinsight@pnud.com">emergenceinsight@pnud.com!!</a></p>
                    <p><i class="fa fa-phone"></i><a href="tal:61402186411q">+221 33 555 1234</a>, <a href="tal:6166650">+221 33 555 4567</a></p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="s-contact">
                  <div class="contact-catagory style-2">Sur Twitter</div>
                  <div class="contact-title">Le fil d'actu</div>
                  <div class="twitter-row">
                    <p><i class="fa fa-twitter"></i> <span>@faq</span> vestibulum accumsan est malesuada sem auctor, eu aliquet nisi</p>
                    <p><i class="fa fa-twitter"></i> <span>@faq</span> suspendisse id pharetra lacus, et hendrerit mi. Praesent at tortor.</p>
                    <p><i class="fa fa-twitter"></i> <span>@faq</span> donec volutpat enim at interdum pretium. Vestibulum ante ipsum</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
