<div ng-init="vm.Init()" class="pilierEm" style="background-color: #E9EBEE">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-8" style="margin-left: -40px; margin-top: 40px;">
      <sujets></sujets>
    </div>
    <!--fin col-md-10-->
    <div class="col-md-2" style="width: 350px; margin-top: 40px;">
      <div class="panel panel-default" style="border: 0; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <!--<div class="panel-heading">Créer un sujet</div>-->
        <div class="panel-body" ng-show="vm.isLoggedIn()">
          <form class="form-horizontal">
            <div class="form-group" style="padding: 4px;">
              <!--<label for="inputEmail3" class="col-sm-2 control-label">Email</label>-->
              <div style="margin-bottom: 0.5em;">
                <input type="text" class="form-control" placeholder="Titre" required>
                <input type="text" class="form-control" placeholder="Contenu" ng-model="vm.titreSujet" required>
                <!-- Single button -->
                <div class="btn-group" uib-dropdown is-open="status.isopen">
                  <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
                    Categories
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li role="menuitem"><a href="#">Action</a></li>
                    <li role="menuitem"><a href="#">Another action</a></li>
                    <li role="menuitem"><a href="#">Something else here</a></li>
                    <!--<li class="divider"></li>-->
                    <li role="menuitem"><a href="#">Separated link</a></li>
                  </ul>
                </div>
              </div>
              <div>

                
                
                <a class="btn btn-primary" style="color: #ffffff; width: 100%;" href="#" ng-click="vm.ajoutSujet()">Ajouter</a>

              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="panel panel-default" style="border: 0; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <!--<div class="panel-heading">Créer un sujet</div>-->
        <div class="panel-body">
        </div>
      </div>
      <!--fin panel-->
      <div class="col-md-1"></div>
      <!--fin col-md-2-->
    </div>
  </div>
