<div class="footer">
    <img class="f-logo" src="../../assets/img/logo2.png" alt="">
    <div class="copy">© 2016 Tout droits réservés. Emergence Insights</div>
</div>
<div class="register-popup custom-popup">
        <form  action="mail.php" class="js-contact-form" method="POST">
            <div class="popup-close"><i class="fa fa-times"></i></div>
            <h3 class="popup-title  form-element">Register for conference</h3>
            <div class="c-form-group form-element">
                <div class="c-form-label">First name</div>
                <input type="text"  name="fields[first_name]" >
            </div>
            <div class="c-form-group form-element">
                <div class="c-form-label">Last name</div>
                <input type="text"  name="fields[last_name]" >
            </div>
            <div class="c-form-group form-element">
                <div class="c-form-label">Email</div>
                <input type="email"  name="fields[email]" >
            </div>
            <div class="c-form-group form-element">
                <div class="c-form-label">Phone</div>
                <input type="tel"  name="fields[phone]" >
            </div>
            <div class="c-form-group form-element">
                <div class="message-result">
                    <div class="ajax-result">
                        <div class="success"></div>
                        <div class="error"></div>
                    </div>
                    <div class="ajax-loader"></div>
                </div>
            </div>
            <input class="c-btn b-50 black hv-blue-o  form-element" type="submit" value="Register">
        </form>
    </div>