<div class="pilierEm" ng-init="vm.Init()">
  <section-information titre="'ACTION ET COORDINATION DU GOUVERNEMENT '" contenu="'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, consectetur accusamus incidunt repellendus similique saepe officiis delectus at itaque explicabo fugit magni odio aliquid, quisquam nulla iste excepturi harum. Blanditiis.'"></section-information>
  <!--<div class="row">-->
  <div class="row" style="margin-top: 20px;">
    <uib-tabset active="activeJustified">
      <uib-tab index="0" heading="Plannification Priorisation et Implentation">
      </uib-tab>
      <uib-tab index="1" heading="Financement">
      </uib-tab>
      <uib-tab index="2" heading="Suivi et Evaluation du projet">
      </uib-tab>
    </uib-tabset>
  </div>
  <!--</div>-->
  <!--INTERVEWS-->
  <interviews></interviews>
  <!--list article-->
  <revue-articles theme="'1'"></revue-articles>
</div>
