<div class="col-md-2"></div>
<div class="col-md-8 pilierEm">
  <div class="row" style="margin-bottom: 50px;">
    <h4 class="simple-title" style="margin: 50px 0 30px 200px;">Leadeship Gouvernance et Culture de L'emergence </h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores pariatur ab ullam neque est quo, quidem quas! Perferendis
      ab odit illum amet, libero cumque laudantium, consequuntur! Est pariatur ut, quod.
    </p>
  </div>
  <!-- ABOUT -->
  <div class="main-block clearfix" id="centreressources">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          <div class="block-header">
            <h4 class="block-category"></h4>
            <h2 class="block-title">Etude de Cas</h2>
          </div>
        </div>
      </div>
    </div>

    <!--<div class="wide-container">
      <div class="conf-block">
        <div class="row isotope-container">
          <div class="grid-sizer item-10"></div>
          <div class="item item-30">
            <div class="conf-item big">
              <img class="center-image" src="img/perfstock/resources/infra_energie.jpg" alt="">
              <div class="conf-info">
                <h4 class="conf-title">Energie </h4>
                <div class="conf-text">14 Ressources</div>
                <a class="c-btn b-50" href="#">consulter les ressources</a>
                <div class="conf-autors">
                  <a href="#"><img src="img/author_1.jpg" alt=""></a>
                  <a href="#"><img src="img/author_2.jpg" alt=""></a>
                  <a href="#"><img src="img/author_3.jpg" alt=""></a>
                </div>
              </div>
              <div class="conf-overlay"></div>
            </div>
          </div>
          <div class="item item-40">
            <div class="conf-item small">
              <img class="center-image" src="img/perfstock/secteurs-themes/agri_agro.jpg" alt="">
              <div class="conf-info">
                <h4 class="conf-title">Agriculture et agro-industrie</h4>
                <div class="conf-text">14 Ressources</div>
                <a class="c-btn b-50" href="#">consulter les ressources</a>
                <div class="conf-autors">
                  <a href="#"><img src="img/author_1.jpg" alt=""></a>
                  <a href="#"><img src="img/author_2.jpg" alt=""></a>
                  <a href="#"><img src="img/author_3.jpg" alt=""></a>
                </div>
              </div>
              <div class="conf-overlay"></div>
            </div>
          </div>
          <div class="item item-30">
            <div class="conf-item small">
              <img class="center-image" src="img/perfstock/secteurs-themes/tourisme.jpg" alt="">
              <div class="conf-info">
                <h4 class="conf-title">Tourisme</h4>
                <div class="conf-text">14 Ressources</div>
                <a class="c-btn b-50" href="#">consulter les ressources</a>
                <div class="conf-autors">
                  <a href="#"><img src="img/author_1.jpg" alt=""></a>
                  <a href="#"><img src="img/author_2.jpg" alt=""></a>
                  <a href="#"><img src="img/author_3.jpg" alt=""></a>
                </div>
              </div>
              <div class="conf-overlay"></div>
            </div>
          </div>
          <div class="item item-30">
            <div class="conf-item small">
              <img class="center-image" src="img/perfstock/resources/education_emploi.jpg" alt="">
              <div class="conf-info">
                <h4 class="conf-title">Education &amp; Emploi</h4>
                <div class="conf-text">14 Ressources</div>
                <a class="c-btn b-50" href="#">consulter les ressources</a>
                <div class="conf-autors">
                  <a href="#"><img src="img/author_1.jpg" alt=""></a>
                  <a href="#"><img src="img/author_2.jpg" alt=""></a>
                  <a href="#"><img src="img/author_3.jpg" alt=""></a>
                </div>
              </div>
              <div class="conf-overlay"></div>
            </div>
          </div>
          <div class="item item-40">
            <div class="conf-item small">
              <img class="center-image" src="img/perfstock/resources/sante.jpg" alt="">
              <div class="conf-info">
                <h4 class="conf-title">Santé</h4>
                <div class="conf-text">14 Ressources</div>
                <a class="c-btn b-50" href="#">consulter les ressources</a>
                <div class="conf-autors">
                  <a href="#"><img src="img/author_1.jpg" alt=""></a>
                  <a href="#"><img src="img/author_2.jpg" alt=""></a>
                  <a href="#"><img src="img/author_3.jpg" alt=""></a>
                </div>
              </div>
              <div class="conf-overlay"></div>
            </div>
          </div>
        </div>
      </div>
    </div>-->
    <!-- SIMPLE TITLE -->
    <div class="small-block">
      <div class="container">
        <div class="simple-slider swiper-container" data-autoplay="0" data-loop="1" data-speed="500" data-center="0" data-slides-per-view="1"
          data-add-slides="2">
          <!--<div class="swiper-wrapper">-->
            <!--<div class="swiper-slide active" data-val="0">-->
              <!--<div class="simple-slide">-->
                <div class="row">
                  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-1">
                    <img class="img-responsive" src="../../../assets/images/perfstock/secteurs-themes/planification_urbaine.jpg" alt="">
                  </div>
                  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0">
                    <h4><a class="simple-title" href="#">Planification Urbaine</a></h4>
                    <div class="simple-text">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat.</p>
                      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                        est laborum.</p>
                    </div>
                  </div>
                </div>
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="pagination"></div>
          <div class="swiper-arrow-left style-2"><img src="img/arrow_left_2.png" alt=""></div>
          <div class="swiper-arrow-right style-2"><img src="img/arrow_right_2.png" alt=""></div>-->
      </div>
    </div>
  </div>
  </div>
</div>
<div class="col-md-2"></div>
