<div class="col-md-2"></div>
<div class="col-md-8 pilierEm">
  <div class="row">
    <h1>Leadeship Gouvernance et Culture de L'emergence</h1>
  </div>
  <div class="section">
    <p> Section d’introduction </p>
    <li>VDN</li>
    </ul>
  </div>
  <div class="interview">
    <p> INTERVIEWS</p>
    <li>Gabon > ND/EL</li>
    <li>Senegal > VGM/AAS</li>
  </div>
  <div class="etude">
    <p> Etude de cas</p>
    <li>Gabon: gestion capital naturel > DSK/EL</li>
  </div>
  <div class="fiche">
    <p> FICHE DE BONNES PRATIQUES </p>
    <li>Fiche bonne pratique plan d'emergence de la vision a l'action</li>
  </div>
</div>
<div class="col-md-2"></div>
