<!--<div class="col-md-1"></div>-->
<div class="pilierEm">
  <section-information titre="'LEADERSHIP GOUVERNANCE ET CULTURE DE L\'EMERGENCE'" contenu="'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae tempora fugit accusantium itaque commodi animi ab veritatis, libero voluptas, voluptate quaerat. Necessitatibus obcaecati commodi animi eveniet blanditiis, labore earum modi.'"></section-information>

  <!--INTERVEWS-->
  <interviews></interviews>

  <!--etude de cas-->
  <etude-de-cas></etude-de-cas>

  <!--bonne pratiques-->
  <fiche-de-bonne-pratiques></fiche-de-bonne-pratiques>
</div>
<!--<div class="col-md-1"></div>-->
