<!--<div class="col-md-1"></div>-->
<div id="content-wrapper" class="pilierEm" ng-init="vm.Init()">
  <section-information titre="'MOTEURS DE CROISSANCE'" contenu="'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae tempora fugit accusantium itaque commodi animi ab veritatis, libero voluptas, voluptate quaerat. Necessitatibus obcaecati commodi animi eveniet blanditiis, labore earum modi.'"></section-information>
  <fiche-de-bonne-pratiques></fiche-de-bonne-pratiques>
  <!--list article-->
  <revue-articles></revue-articles>
  <!--fin list-->
  <etude-de-cas></etude-de-cas>
</div>


