<div class="pilierEm" ng-init="vm.Init()">
  <section-information titre="'SECTEURS SUPPORTS'" contenu="'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis provident, doloribus quo aliquam velit cumque porro impedit, repellendus id, harum excepturi, unde voluptates culpa aliquid. Exercitationem at ullam, ex sed.'"></section-information>

  <div class="row" style="margin-top: 20px;">

    <uib-tabset active="activeJustified">
      <uib-tab index="0" heading="Secteurs de Servies">

        <revue-articles></revue-articles>
      </uib-tab>
      <uib-tab index="1" heading="Secteurs Sociaux">

        <revue-articles></revue-articles>
      </uib-tab>
    </uib-tabset>
  </div>
</div>
