   <!-- TESTIMONALS -->
    <div id="testimonials" class="main-block">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <div class="block-header">
              <h4 class="block-category">Témoignages</h4>
              <h2 class="block-title">L'émergence en pratique</h2>
              <div class="block-text">Partagez vos expériences et bonnes pratiques en matière de mise en œuvre des plans d’émergence</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">

        <div class="col-md-8 col-md-offset-2">
      <section class="swipe">
        <swiper effect="cube" grab-cursor="true" cube="{
            shadow: true,
            slideShadows: true,
            shadowOffset: 20,
            shadowScale: 0.94
        }">
          <slides>
            <slide style="background-size: cover; background-image:url(../../../assets/images/perfstock/testimonials/local_global.jpg);">
              <div class="testimonals">
                <div class="testimonals-desc">
                  <div class="testimonals-title shadow-text">Omar Sow</div>
                  <div class="testimonals-position">Head of design team</div>
                  <div class="testimonals-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                    ex ea commodo consequat.
                  </div>
                </div>
              </div>
            </slide>
            <slide style="background-size: cover; background-image:url(../../../assets/images/perfstock/testimonials/power_pme.jpg)">
              <div class="testimonals">
                <div class="testimonals-desc">
                  <div class="testimonals-title shadow-text">Des mesures pour l’encadrement du secteur informel</div>
                  <div class="testimonals-position">Dossiers</div>
                  <div class="testimonals-text">Depuis six mois, les acteurs du secteur informel sont incités à s’enregistrer auprès de la Caisse d’Assurance
                    Maladie...
                  </div>
                </div>
              </div>
            </slide>
            <slide style="background-size: cover; background-image:url(../../../assets/images/perfstock/testimonials/capvert.jpg)">
              <div class="testimonals">
                <div class="testimonals-desc">
                  <div class="testimonals-title shadow-text">Les 5 facteurs clés de succès de la transformation structurelle du Cap Vert</div>
                  <div class="testimonals-position">Articles</div>
                  <div class="testimonals-text">Premier ministre du Cap Vert de 2001 à 2016, José Maria Neves a changé structurellement le pays. Né en
                    1960, celui qui a décidé de ne plus se recandidater malgré une popularité incontestable pour...</div>
                </div>
              </div>
            </slide>
            <slide style="background-size: cover; background-image:url(../../../assets/images/perfstock/testimonials/local_global.jpg)">
              <div class="testimonals">
                <div class="testimonals-desc">
                  <div class="testimonals-title shadow-text">Amadou Ba</div>
                  <div class="testimonals-position">Head of design team</div>
                  <div class="testimonals-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                    ex ea commodo consequat.
                  </div>
                </div>
              </div>
            </slide>
          </slides>
          <pagination></pagination>
          </swiper>
      </section>
      </div>
      </div>
    </div>