<!-- temoignages -->
<div class="main-block">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <div class="block-header">
          <h4 class="block-category"></h4>
          <h2 class="block-title">Fiche de bonnes pratiques</h2>
          <div class="block-text">Partagez vos expériences et bonnes pratiques en matière de mise en œuvre des plans d’émergence</div>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-container swiper-swiper-unique-id-5 initialized" data-autoplay="0" data-initial-slide="2" data-loop="0"
    data-speed="500" data-center="1" data-slides-per-view="auto" id="swiper-unique-id-5">
    <div class="swiper-wrapper" style="padding-left: 139.5px; padding-right: 139.5px; transform: translate3d(-1518px, 0px, 0px); transition-duration: 0s; width: 3795px; height: 412px;">
      <div class="swiper-slide" data-val="0">
        <div class="testimonals background-block" style="background-image: url(&quot;img/perfstock/testimonials/local_global.jpg&quot;);">
          <img class="center-image" src="../../../assets/images/perfstock/testimonials/local_global.jpg" alt="" style="display: none;">
          <div class="testimonals-desc">
            <div class="testimonals-title shadow-text">Omar Sow</div>
            <div class="testimonals-position">Head of design team</div>
            <div class="testimonals-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat.
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-visible" data-val="1">
        <div class="testimonals background-block" style="background-image: url(&quot;img/perfstock/testimonials/local_global.jpg&quot;);">
          <img class="center-image" src="../../../assets/images/perfstock/testimonials/local_global.jpg" alt="" style="display: none;">
          <div class="testimonals-desc">
            <div class="testimonals-title shadow-text">Amadou Ba</div>
            <div class="testimonals-position">Head of design team</div>
            <div class="testimonals-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat.
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-visible swiper-slide-active" data-val="2">
        <div class="testimonals background-block" style="background-image: url(&quot;img/perfstock/testimonials/power_pme.jpg&quot;);">
          <img class="center-image" src="../../../assets/images/perfstock/testimonials/power_pme.jpg" alt="" style="display: none;">
          <div class="testimonals-desc">
            <div class="testimonals-title shadow-text">Des mesures pour l’encadrement du secteur informel</div>
            <div class="testimonals-position">Dossiers</div>
            <div class="testimonals-text">Depuis six mois, les acteurs du secteur informel sont incités à s’enregistrer auprès de la Caisse d’Assurance
              Maladie...
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-visible" data-val="3">
        <div class="testimonals background-block" style="background-image: url(&quot;img/perfstock/testimonials/capvert.jpg&quot;);">
          <img class="center-image" src="../../../assets/images/perfstock/testimonials/capvert.jpg" alt="" style="display: none;">
          <div class="testimonals-desc">
            <div class="testimonals-title shadow-text">Les 5 facteurs clés de succès de la transformation structurelle du Cap Vert</div>
            <div class="testimonals-position">Articles</div>
            <div class="testimonals-text">Premier ministre du Cap Vert de 2001 à 2016, José Maria Neves a changé structurellement le pays. Né en 1960,
              celui qui a décidé de ne plus se recandidater malgré une popularité incontestable pour...</div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" data-val="4">
        <div class="testimonals background-block" style="background-image: url(&quot;img/perfstock/testimonials/local_global.jpg&quot;);">
          <img class="center-image" src="../../../assets/images/perfstock/testimonials/local_global.jpg" alt="" style="display: none;">
          <div class="testimonals-desc">
            <div class="testimonals-title shadow-text">Amadou Ba</div>
            <div class="testimonals-position">Head of design team</div>
            <div class="testimonals-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pagination hidden pagination-swiper-unique-id-5"><span class="swiper-pagination-switch"></span><span class="swiper-pagination-switch swiper-visible-switch"></span><span
        class="swiper-pagination-switch swiper-visible-switch swiper-active-switch"></span><span class="swiper-pagination-switch swiper-visible-switch"></span><span
        class="swiper-pagination-switch"></span></div>
</div>
</div>