<!--<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">emergence</a>
    </div>
    <div uib-collapse="$ctrl.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in $ctrl.menu" ui-sref-active="active">
            <a ui-sref="{{item.state}}">{{item.title}}</a>
        </li>
        <li ng-show="$ctrl.isAdmin()" ui-sref-active="active"><a ui-sref="admin">Admin</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">Sign up</a></li>
        <li ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Login</a></li>
        <li ng-show="$ctrl.isLoggedIn()"><p class="navbar-text">Hello {{ $ctrl.getCurrentUser().name }}</p> </li>
        <li ng-show="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li ng-show="$ctrl.isLoggedIn()"><a ui-sref="logout">Logout</a></li>
      </ul>
    </div>
  </div>
</div>-->
<header class="header type-3" ng-init="nbCtrl.Init()">
  <div class="logo-block">
    <a class="logo" href="#"><img src="/assets/images/logo2.png" alt=""></a>
  </div>
  <div class="container">
    <div class="top-line clearfix">
    </div>
    <nav class="main-nav">
      <div class="top-line-left">
        <div class="top-contact"><i class="fa fa-envelope-o"></i><a href="mailto:emergenceinsight@pnud.com">emergenceinsight@pnud.com</a></div>
        <div class="top-contact"><i class="fa fa-phone"></i><a href="tal:61402186411">+221 33 555 1234</a>, <a href="tal:6166650">+221 33 555 4567</a></div>
      </div>
      <div class="menu-container">
        <div class="menu">
          <ul>
            <li><a ng-click="nbCtrl.goHome()">Accueil</a></li>
            <li ng-mouseenter="nbCtrl.classSecteur()" ng-mouseleave="nbCtrl.delclassSecteur()" class="nbCtrl.dropSecteur"><a href="pays.html">Piliers de l'emergence</a>

              <ul ng-style="nbCtrl.styleSecteur">
                <li>
                  <a ui-sref="leadership" ng-click="nbCtrl.delclassSecteur()"> <i class="fa fa-arrow-right" aria-hidden="true"></i>  &nbsp; Leadership Gouvernance et Culture de l'emergence </a>
                </li>
                <li>
                  <a ui-sref="action" ng-click="nbCtrl.delclassSecteur()"> <i class="fa fa-arrow-right" aria-hidden="true"></i> &nbsp; Action et Coordonnation du Gouvernement</a>
                </li>
                <li> <a ui-sref="moteur" ng-click="nbCtrl.delclassSecteur()"><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp; Moteur de Croissance</a>                  </li>
                <li><a ui-sref="secteur" ng-click="nbCtrl.delclassSecteur()"><i class="fa fa-arrow-right" aria-hidden="true"></i> &nbsp; Secteurs Supports</a>                  </li>
                <li><a ui-sref="developpement" ng-click="nbCtrl.delclassSecteur()"><i class="fa fa-arrow-right" aria-hidden="true"></i> &nbsp; Developpement des Entreprises</a>                  </li>
              </ul>
            </li>
            <li ng-mouseenter="nbCtrl.classPays()" ng-mouseleave="nbCtrl.delclassPays()" ng-click="nbCtrl.delclassPays()" class="cl1"><a href="pays.html"> Info Pays</a>
              <ul class="nbCtrl.cl2" ng-style="nbCtrl.myStyle">
                <li><a href="pays.html" ng-click="nbCtrl.delclassPays()">Bostwana</a></li>
                <li><a href="#" ng-click="nbCtrl.delclassPays()">Cap-Vert</a></li>
                <li><a href="#" ng-click="nbCtrl.delclassPays()">Côte d'Ivoire</a></li>
                <li><a href="pays.html" ng-click="nbCtrl.delclassPays()">Ethiopie</a></li>
                <li><a href="#" ng-click="nbCtrl.delclassPays()">Gabon</a></li>
                <li><a href="#" ng-click="nbCtrl.delclassPays()">Guinée Equatoriale</a></li>
                <li><a href="pays.html" ng-click="nbCtrl.delclassPays()">Kenya</a></li>
                <li><a href="#" ng-click="nbCtrl.delclassPays()">Maurice</a></li>
                <li><a href="#" ng-click="nbCtrl.delclassPays()">Rwanda</a></li>
                <li><a href="pays.html" ng-click="nbCtrl.delclassPays()">Sénégal</a></li>
                <li><a href="#" ng-click="nbCtrl.delclassPays()">South Afica</a></li>
                <li><a href="#" ng-click="nbCtrl.delclassPays()">Tanzania</a></li>
              </ul>
            </li>
            <li ng-mouseenter="nbCtrl.classEmergence()" ng-mouseleave="nbCtrl.delclassEmergence()" ng-click="nbCtrl.delclassEmergence()" class="nbCtrl.dropEmergence"><a href="#">INDICE DE L'EMERGENCE</a>
              <ul ng-style="nbCtrl.styleEmergence">
                <li> <a href="" ng-click="nbCtrl.delclassEmergence()">composante de l'indice' </a> </li>
                <li> <a href="" ng-click="nbCtrl.delclassEmergence()">focus pays</a> </li>
              </ul>
            </li>
            <li><a href="#">A propos</a></li>
            <!--<li><a href="pays.html">Contact</a>-->
            <li><a href="#">Partenaires</a></li>
            <!-- <ul>
										<li><a href="#">School</a>
												<ul>
														<li><a href="#">Lidership</a></li>
														<li><a href="#">History</a></li>
														<li><a href="#">Locations</a></li>
														<li><a href="#">Careers</a></li>
												</ul>
										</li>
										<li><a href="#">Study</a>
												<ul>
														<li><a href="#">Undergraduate</a></li>
														<li><a href="#">Masters</a></li>
														<li><a href="#">International</a></li>
														<li><a href="#">Online</a></li>
												</ul>
										</li>
										<li><a href="#">Study</a>
												<ul>
														<li><a href="#">Undergraduate</a></li>
														<li><a href="#">Masters</a></li>
														<li><a href="#">International</a></li>
														<li><a href="#">Online</a></li>
												</ul>
										</li>
										<li><a href="#">Empty sub</a></li>
								</ul> -->

          </ul>
        </div>
      </div>
      <div class="top-line-right">
        <div class="top-social">
          <!--<a href="#"><i class="fa fa-skype"></i></a>
          <a href="#"><i class="fa fa-google-plus"></i></a>-->
          <!--<a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>-->
          <a href=""><i class="fa fa-sign-in" aria-hidden="true" tooltip-placement="bottom" uib-tooltip="Se connecter"></i></a>
          <a href=""style="color: red;"><i class="fa fa-bell" aria-hidden="true" tooltip-placement="bottom" uib-tooltip="Notifications"></i> <span> (3) </span> </a>
        </div>
        <a class="search-link top-search" href="#"><i class="fa fa-search"></i></a>
        <div class="search-popup custom-popup">
          <form>
            <div class="popup-close"><i class="fa fa-times"></i></div>
            <h3 class="popup-title text-center">Search</h3>
            <div class="c-form-group">
              <div class="c-form-label">Enter search text</div>
              <input type="text" required="" value="">
            </div>
            <input class="c-btn b-50 black hv-blue-o" type="submit" value="Search">
          </form>
        </div>
      </div>
    </nav>
    <button class="cmn-toggle-switch"><span></span></button>
  </div>
</header>
