<div class="main-block clearfix" ng-init="vm.Init()">
	<div class="container">
		<!--<div class="row">
		                    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
		                        <div class="block-header">
		                            <h4 class="block-category">Suivez-nous</h4>
		                            <h2 class="block-title">Actualité</h2>
		                            <div class="block-text">Suivez l'actualité de l'émergence à travers notre fil d'actualité et notre compte twitter.</div>
		                        </div>
		                    </div>
		                </div>-->

<div class="row">
   <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <div class="block-header">
          <h4 class="block-category">Suivez-nous</h4>
          <h2 class="block-title">Actualité</h2>
          <div class="block-text">Suivez l'actualité de l'émergence à travers notre fil d'actualité et notre compte twitter.</div>
        </div>
      </div>
	<div class="news-entry col-xs-12 col-sm-6 col-md-4" style="padding: 40px 10px 0px 0px; width: 300px; margin-right: 80px;" ng-repeat="actualite in vm.actualitesPays">
	<div class="news type-2 hover01 column">
		<a   ui-sref="actualite({libelle:actualite.sujet})">
		                			<figure><img class="img-responsive " ng-src="../../assets/images/perfstock/actualite/{{actualite.image}}"  style="height: 200px; width:500px;"></figure>
</a>
<div class="news-desc">
	<h4><a class="news-title " ui-sref="actualite({libelle:actualite.sujet})"> {{actualite.sujet}}</a></h4>
<!--	<div class="news-date"><i class="fa fa-clock-o"></i>{{actualite.date}}</div>-->
</div>
</div>
</div>

</div>

</div>
</div>