<div id="speakers" class="main-block clearfix" ng-init="vm.Init()">
  <div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          <div class="block-header">
            <h4 class="block-category">Interviews</h4>
            <h2 class="block-title">Paroles d'experts</h2>
          </div>
        </div>
      </div>
    </div>
    <!--<div class="slider-wth-thumbs">
      <div class="swiper-container thumbnails-preview" data-autoplay="0" data-loop="1" data-speed="500" data-center="0" data-slides-per-view="1">
        <div class="swiper-wrapper">
          <div ng-repeat="interview in vm.listInterviews" class="swiper-slide active" data-val="{{vm.nb}}">
            <div class="speaker-img"><img class="img-responsive center-image" ng-src="../../assets/images/perfstock/experts/{{interview.image}}" alt=""></div>
            <div class="container">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <div class="speaker-block">
                    <div class="speaker-title"> <a style="color: white;" ui-sref="interview({libelle:interview.libelle})">{{interview.intervenant}}</a>                      </div>
                    <div class="speaker-category"> <a style="color: white;" ui-sref="interview({libelle:interview.libelle})"> {{interview.libelle}} </a>                      </div>
                    <div class="speaker-text">
                      {{interview.contenu}}
                    </div>
                    <div class="speaker-social clearfix">
                      <a href="#"><i class="fa fa-google-plus"></i></a>
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-linkedin"></i></a>
                      <a href="#"><i class="fa fa-skype"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pagination"></div>
        <div class="swiper-arrow-left style-1"><img src="/assets/images/arrow_left.png" alt=""></div>
        <div class="swiper-arrow-right style-1"><img src="/assets/images/arrow_right.png" alt=""></div>
      </div>
      <div class="swiper-container thumbnails" data-autoplay="0" data-loop="0" data-speed="500" data-center="0" data-slides-per-view="responsive"
        data-mob-slides="3" data-xs-slides="4" data-sm-slides="6" data-md-slides="7" data-lg-slides="8" data-add-slides="8">
        <div class="swiper-wrapper">
        </div>
        <div class="pagination hidden"></div>
    </div>
  </div>-->
    <swiper>
      <slides>
        <slide ng-repeat="interview in vm.listInterviews" style="text-align: center;
                  min-width: 1200px;
                  min-height: 600px;
                  font-size: 20px;
                  background: #222;
                  display: -webkit-box;
                  display: -ms-flexbox;
                  display: -webkit-flex;
                  display: flex;
                  -webkit-box-pack: center;
                  -ms-flex-pack: center;
                  -webkit-justify-content: center;
                  justify-content: center;
                  -webkit-box-align: center;
                  -ms-flex-align: center;
                  -webkit-align-items: center;
                  align-items: center;">
        <!--<div class="">-->
        <div class="speaker-img">
          <img class="img-responsive center-image" ng-src={{interview.image}} alt="" style="margin-right: 200px; width: 800px;;"></div>
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <div class="speaker-block">
                <div class="speaker-title"> <a style="color: white;" ui-sref="interview({libelle:interview.libelle})">{{interview.intervenant}}</a> </div>
                <div class="speaker-category"> <a style="color: white;" ui-sref="interview({libelle:interview.libelle})"> {{interview.libelle}} </a> </div>
                <div class="speaker-text">
                  {{interview.contenu}}
                </div>
                <div class="speaker-social clearfix">
                  <a href="#"><i class="fa fa-google-plus"></i></a>
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                  <a href="#"><i class="fa fa-skype"></i></a>

                </div>
              </div>
            </div>
          </div>
          </slide>
      </slides>
      <prev class="swiper-arrow-left style-1" style="background-image:url(../../assets/images/arrow_left.png); height: 37px;"></prev>
      <next class="swiper-arrow-right style-1" style="background-image:url(../../assets/images/arrow_right.png); height: 37px;"></next>
    </swiper>
    <!--<swiper>
    <slides>
      <slide ng-show="vm.value" ng-repeat="interview in vm.listInterviews">
        <img class="img-responsive img-full" ng-src="../../../assets/images/perfstock/experts/thumbs/{{interview.image}}" alt="">
        <div class="thumb-desc">
          <div class="thumb-title"> <a ng-click="vm.scrol()" style="color: white;" ui-sref="interview({libelle:interview.libelle})">
{{interview.intervenant}}  </a></div>
          <div class="thumb-text"> <a ng-click="vm.scrol()" style="color: white;" ui-sref="interview({libelle:interview.libelle})"> {{interview.libelle}} </a>            </div>
        </div>
        <div class="thumb-overlay"></div>
      </slide>
    </slides>
  </swiper>-->
  </div>
</div>
