<div id="speakers" class="main-block clearfix" ng-init="vm.Init()">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <div class="block-header">
          <h4 class="block-category">Interviews</h4>
          <h2 class="block-title">Paroles d'experts</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="slider-wth-thumbs">
    <div class="swiper-container thumbnails-preview swiper-swiper-unique-id-3 initialized" data-autoplay="0" data-loop="1" data-speed="500"
      data-center="0" data-slides-per-view="1" id="swiper-unique-id-3">
      <div class="swiper-wrapper" style="width: 9070px; transform: translate3d(-907px, 0px, 0px); transition-duration: 0s; height: 934px;">
        <div class="swiper-slide swiper-slide-duplicate" data-val="7" style="width: 907px; height: 934px;">
          <div class="speaker-img background-block" style="background-image: url(&quot;../../../assets/images/perfstock/experts/victor_gorom_ndiaye.jpg&quot;);"><img class="center-image" src="../../../assets/images/perfstock/experts/victor_gorom_ndiaye.jpg" alt="" style="display: none;"></div>
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div class="speaker-block">
                  <div class="speaker-title">Victor Gorom Ndiaye</div>
                  <div class="speaker-category">Fondateur Performances Group</div>
                  <div class="speaker-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                    eu fugiat nulla pariatur.</div>
                  <div class="speaker-social clearfix">
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-skype"></i></a>
                  </div>
                  <div class="speaker-change clearfix">
                    <img src="../../../assets/images/speaker_change_1.jpg" data-image="../../../assets/images/speaker_change_1_b.jpg" alt="">
                    <img src="../../../assets/images/speaker_change_2.jpg" data-image="../../../assets/images/speaker_change_2_b.jpg" alt="">
                    <img src="../../../assets/images/speaker_change_3.jpg" data-image="../../../assets/images/speaker_change_3_b.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide active swiper-slide-visible swiper-slide-active" data-val="0" style="width: 907px; height: 934px;">
          <div class="speaker-img background-block" style="background-image: url(&quot;../../../assets/images/perfstock/experts/tony_elumelu.jpg&quot;);"><img class="center-image" src="../../../assets/images/perfstock/experts/tony_elumelu.jpg" alt="" style="display: none;"></div>
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div class="speaker-block">
                  <div class="speaker-title">Tony Elumelu</div>
                  <div class="speaker-category">Tony Elumelu Foundation</div>
                  <div class="speaker-text">En moins de trente ans, le Nigérian Tony Elumelu a bâti un groupe de pointe dans la banque, l'hôtellerie
                    et l'énergie. Ce businessman pas comme les autres lance un programme de 100 millions de dollars pour
                    soutenir les patrons de demain.
                    <br>Lis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
                  <div class="speaker-social clearfix">
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-skype"></i></a>
                  </div>
                  <div class="speaker-change clearfix">
                    <img src="../../../assets/images/speaker_change_1.jpg" data-image="../../../assets/images/speaker_change_1_b.jpg" alt="">
                    <img src="../../../assets/images/speaker_change_2.jpg" data-image="../../../assets/images/speaker_change_2_b.jpg" alt="">
                    <img src="../../../assets/images/speaker_change_3.jpg" data-image="../../../assets/images/speaker_change_3_b.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide" data-val="1" style="width: 907px; height: 934px;">
          <div class="speaker-img background-block" style="background-image: url(&quot;../../../assets/images/perfstock/experts/akon.jpg&quot;);"><img class="center-image" src="../../../assets/images/perfstock/experts/akon.jpg" alt="" style="display: none;"></div>
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div class="speaker-block">
                  <div class="speaker-title">Akon</div>
                  <div class="speaker-category">Fondateur Akon Light Africa</div>
                  <div class="speaker-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                    eu fugiat nulla pariatur.</div>
                  <div class="speaker-social clearfix">
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-skype"></i></a>
                  </div>
                  <div class="speaker-change clearfix">
                    <img src="../../../assets/images/speaker_change_1.jpg" data-image="../../../assets/images/speaker_change_1_b.jpg" alt="">
                    <img src="../../../assets/images/speaker_change_2.jpg" data-image="../../../assets/images/speaker_change_2_b.jpg" alt="">
                    <img src="../../../assets/images/speaker_change_3.jpg" data-image="../../../assets/images/speaker_change_3_b.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide" data-val="2" style="width: 907px; height: 934px;">
          <div class="speaker-img background-block" style="background-image: url(&quot;../../../assets/images/perfstock/experts/victor_gorom_ndiaye.jpg&quot;);"><img class="center-image" src="../../../assets/images/perfstock/experts/victor_gorom_ndiaye.jpg" alt="" style="display: none;"></div>
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div class="speaker-block">
                  <div class="speaker-title">Victor Gorom Ndiaye</div>
                  <div class="speaker-category">Fondateur Performances Group</div>
                  <div class="speaker-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                    eu fugiat nulla pariatur.</div>
                  <div class="speaker-social clearfix">
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-skype"></i></a>
                  </div>
                  <div class="speaker-change clearfix">
                    <img src="../../../assets/images/speaker_change_1.jpg" data-image="../../../assets/images/speaker_change_1_b.jpg" alt="">
                    <img src="../../../assets/images/speaker_change_2.jpg" data-image="../../../assets/images/speaker_change_2_b.jpg" alt="">
                    <img src="../../../assets/images/speaker_change_3.jpg" data-image="../../../assets/images/speaker_change_3_b.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide active" data-val="3" style="width: 907px; height: 934px;">
          <div class="speaker-img background-block" style="background-image: url(&quot;../../../assets/images/perfstock/experts/tony_elumelu.jpg&quot;);"><img class="center-image" src="../../../assets/images/perfstock/experts/tony_elumelu.jpg" alt="" style="display: none;"></div>
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div class="speaker-block">
                  <div class="speaker-title">Tony Elumelu</div>
                  <div class="speaker-category">Tony Elumelu Foundation</div>
                  <div class="speaker-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                    eu fugiat nulla pariatur.</div>
                  <div class="speaker-social clearfix">
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-skype"></i></a>
                  </div>
                  <div class="speaker-change clearfix">
                    <img src="../../../assets/images/speaker_change_1.jpg" data-image="../../../assets/images/speaker_change_1_b.jpg" alt="">
                    <img src="../../../assets/images/speaker_change_2.jpg" data-image="../../../assets/images/speaker_change_2_b.jpg" alt="">
                    <img src="../../../assets/images/speaker_change_3.jpg" data-image="../../../assets/images/speaker_change_3_b.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide" data-val="4" style="width: 907px; height: 934px;">
          <div class="speaker-img background-block" style="background-image: url(&quot;../../../assets/images/perfstock/experts/akon.jpg&quot;);"><img class="center-image" src="../../../assets/images/perfstock/experts/akon.jpg" alt="" style="display: none;"></div>
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div class="speaker-block">
                  <div class="speaker-title">Akon</div>
                  <div class="speaker-category">Fondateur Akon Light Africa</div>
                  <div class="speaker-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                    eu fugiat nulla pariatur.</div>
                  <div class="speaker-social clearfix">
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-skype"></i></a>
                  </div>
                  <div class="speaker-change clearfix">
                    <img src="../../../assets/images/speaker_change_1.jpg" data-image="../../../assets/images/speaker_change_1_b.jpg" alt="">
                    <img src="../../../assets/images/speaker_change_2.jpg" data-image="../../../assets/images/speaker_change_2_b.jpg" alt="">
                    <img src="../../../assets/images/speaker_change_3.jpg" data-image="../../../assets/images/speaker_change_3_b.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide" data-val="5" style="width: 907px; height: 934px;">
          <div class="speaker-img background-block" style="background-image: url(&quot;../../../assets/images/perfstock/experts/victor_gorom_ndiaye.jpg&quot;);"><img class="center-image" src="../../../assets/images/perfstock/experts/victor_gorom_ndiaye.jpg" alt="" style="display: none;"></div>
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div class="speaker-block">
                  <div class="speaker-title">Victor Gorom Ndiaye</div>
                  <div class="speaker-category">Fondateur Performances Group</div>
                  <div class="speaker-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                    eu fugiat nulla pariatur.</div>
                  <div class="speaker-social clearfix">
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-skype"></i></a>
                  </div>
                  <div class="speaker-change clearfix">
                    <img src="../../../assets/images/speaker_change_1.jpg" data-image="../../../assets/images/speaker_change_1_b.jpg" alt="">
                    <img src="../../../assets/images/speaker_change_2.jpg" data-image="../../../assets/images/speaker_change_2_b.jpg" alt="">
                    <img src="../../../assets/images/speaker_change_3.jpg" data-image="../../../assets/images/speaker_change_3_b.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide" data-val="6" style="width: 907px; height: 934px;">
          <div class="speaker-img background-block" style="background-image: url(&quot;../../../assets/images/perfstock/experts/akon.jpg&quot;);"><img class="center-image" src="../../../assets/images/perfstock/experts/akon.jpg" alt="" style="display: none;"></div>
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div class="speaker-block">
                  <div class="speaker-title">Akon</div>
                  <div class="speaker-category">Fondateur Akon Light Africa</div>
                  <div class="speaker-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                    eu fugiat nulla pariatur.</div>
                  <div class="speaker-social clearfix">
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-skype"></i></a>
                  </div>
                  <div class="speaker-change clearfix">
                    <img src="../../../assets/images/speaker_change_1.jpg" data-image="../../../assets/images/speaker_change_1_b.jpg" alt="">
                    <img src="../../../assets/images/speaker_change_2.jpg" data-image="../../../assets/images/speaker_change_2_b.jpg" alt="">
                    <img src="../../../assets/images/speaker_change_3.jpg" data-image="../../../assets/images/speaker_change_3_b.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide" data-val="7" style="width: 907px; height: 934px;">
          <div class="speaker-img background-block" style="background-image: url(&quot;../../../assets/images/perfstock/experts/victor_gorom_ndiaye.jpg&quot;);"><img class="center-image" src="../../../assets/images/perfstock/experts/victor_gorom_ndiaye.jpg" alt="" style="display: none;"></div>
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div class="speaker-block">
                  <div class="speaker-title">Victor Gorom Ndiaye</div>
                  <div class="speaker-category">Fondateur Performances Group</div>
                  <div class="speaker-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                    eu fugiat nulla pariatur.</div>
                  <div class="speaker-social clearfix">
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-skype"></i></a>
                  </div>
                  <div class="speaker-change clearfix">
                    <img src="../../../assets/images/speaker_change_1.jpg" data-image="../../../assets/images/speaker_change_1_b.jpg" alt="">
                    <img src="../../../assets/images/speaker_change_2.jpg" data-image="../../../assets/images/speaker_change_2_b.jpg" alt="">
                    <img src="../../../assets/images/speaker_change_3.jpg" data-image="../../../assets/images/speaker_change_3_b.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide active swiper-slide-duplicate" data-val="0" style="width: 907px; height: 934px;">
          <div class="speaker-img background-block" style="background-image: url(&quot;../../../assets/images/perfstock/experts/tony_elumelu.jpg&quot;);"><img class="center-image" src="../../../assets/images/perfstock/experts/tony_elumelu.jpg" alt="" style="display: none;"></div>
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div class="speaker-block">
                  <div class="speaker-title">Tony Elumelu</div>
                  <div class="speaker-category">Tony Elumelu Foundation</div>
                  <div class="speaker-text">En moins de trente ans, le Nigérian Tony Elumelu a bâti un groupe de pointe dans la banque, l'hôtellerie
                    et l'énergie. Ce businessman pas comme les autres lance un programme de 100 millions de dollars pour
                    soutenir les patrons de demain.
                    <br>Lis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
                  <div class="speaker-social clearfix">
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-skype"></i></a>
                  </div>
                  <div class="speaker-change clearfix">
                    <img src="../../../assets/images/speaker_change_1.jpg" data-image="../../../assets/images/speaker_change_1_b.jpg" alt="">
                    <img src="../../../assets/images/speaker_change_2.jpg" data-image="../../../assets/images/speaker_change_2_b.jpg" alt="">
                    <img src="../../../assets/images/speaker_change_3.jpg" data-image="../../../assets/images/speaker_change_3_b.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pagination pagination-swiper-unique-id-3"><span class="swiper-pagination-switch swiper-visible-switch swiper-active-switch"></span><span class="swiper-pagination-switch"></span><span
          class="swiper-pagination-switch"></span><span class="swiper-pagination-switch"></span><span class="swiper-pagination-switch"></span><span
          class="swiper-pagination-switch"></span><span class="swiper-pagination-switch"></span><span class="swiper-pagination-switch"></span></div>
      <div class="swiper-arrow-left style-1"><img src="../../../assets/images/arrow_left.png" alt=""></div>
      <div class="swiper-arrow-right style-1"><img src="../../../assets/images/arrow_right.png" alt=""></div>
  </div>
  <div class="swiper-container thumbnails swiper-swiper-unique-id-4 initialized" data-autoplay="0" data-loop="0" data-speed="500"
    data-center="0" data-slides-per-view="responsive" data-mob-slides="3" data-xs-slides="4" data-sm-slides="6" data-md-slides="7"
    data-lg-slides="8" data-add-slides="8" id="swiper-unique-id-4">
    <div class="swiper-wrapper" style="width: 1216px; height: 92px;">
      <div class="swiper-slide current active swiper-slide-visible swiper-slide-active" data-val="0" style="width: 152px; height: 92px;">
        <img class="img-responsive img-full" src="../../../assets/images/perfstock/experts/thumbs/tony_elumelu.jpg" alt="">
        <div class="thumb-desc">
          <div class="thumb-title">Tony Elumelu</div>
          <div class="thumb-text">Tony Elumelu Foundation</div>
        </div>
        <div class="thumb-overlay"></div>
      </div>
      <div class="swiper-slide swiper-slide-visible" data-val="1" style="width: 152px; height: 92px;">
        <img class="img-responsive img-full" src="../../../assets/images/perfstock/experts/thumbs/akon.jpg" alt="">
        <div class="thumb-desc">
          <div class="thumb-title">Akon</div>
          <div class="thumb-text">Fondateur ALA</div>
        </div>
        <div class="thumb-overlay"></div>
      </div>
      <div class="swiper-slide swiper-slide-visible" data-val="2" style="width: 152px; height: 92px;">
        <img class="img-responsive img-full" src="../../../assets/images/perfstock/experts/thumbs/victor_gorom_ndiaye.jpg" alt="">
        <div class="thumb-desc">
          <div class="thumb-title">Victor Gorom Ndiaye</div>
          <div class="thumb-text">Fondateur Performances Group</div>
        </div>
        <div class="thumb-overlay"></div>
      </div>
      <div class="swiper-slide current active swiper-slide-visible" data-val="3" style="width: 152px; height: 92px;">
        <img class="img-responsive img-full" src="../../../assets/images/perfstock/experts/thumbs/tony_elumelu.jpg" alt="">
        <div class="thumb-desc">
          <div class="thumb-title">Tony Elumelu</div>
          <div class="thumb-text">Tony Elumelu Foundation</div>
        </div>
        <div class="thumb-overlay"></div>
      </div>
      <div class="swiper-slide swiper-slide-visible" data-val="4" style="width: 152px; height: 92px;">
        <img class="img-responsive img-full" src="../../../assets/images/perfstock/experts/thumbs/akon.jpg" alt="">
        <div class="thumb-desc">
          <div class="thumb-title">Akon</div>
          <div class="thumb-text">Fondateur ALA</div>
        </div>
        <div class="thumb-overlay"></div>
      </div>
      <div class="swiper-slide swiper-slide-visible" data-val="5" style="width: 152px; height: 92px;">
        <img class="img-responsive img-full" src="../../../assets/images/perfstock/experts/thumbs/victor_gorom_ndiaye.jpg" alt="">
        <div class="thumb-desc">
          <div class="thumb-title">Victor Gorom Ndiaye</div>
          <div class="thumb-text">Fondateur Performances Group</div>
        </div>
        <div class="thumb-overlay"></div>
      </div>
      <div class="swiper-slide current active swiper-slide-visible" data-val="6" style="width: 152px; height: 92px;">
        <img class="img-responsive img-full" src="../../../assets/images/perfstock/experts/thumbs/tony_elumelu.jpg" alt="">
        <div class="thumb-desc">
          <div class="thumb-title">Tony Elumelu</div>
          <div class="thumb-text">Tony Elumelu Foundation</div>
        </div>
        <div class="thumb-overlay"></div>
      </div>
      <div class="swiper-slide swiper-slide-visible" data-val="7" style="width: 152px; height: 92px;">
        <img class="img-responsive img-full" src="../../../assets/images/perfstock/experts/thumbs/akon.jpg" alt="">
        <div class="thumb-desc">
          <div class="thumb-title">Akon</div>
          <div class="thumb-text">Fondateur ALA</div>
        </div>
        <div class="thumb-overlay"></div>
      </div>
    </div>
    <div class="pagination hidden pagination-swiper-unique-id-4"><span class="swiper-pagination-switch swiper-visible-switch swiper-active-switch" style="display: inline-block;"></span><span
        class="swiper-pagination-switch swiper-visible-switch" style="display: inline-block;"></span>
      <span class="swiper-pagination-switch swiper-visible-switch" style="display: inline-block;"></span>
      <span class="swiper-pagination-switch swiper-visible-switch"
        style="display: none;"></span>
        <span class="swiper-pagination-switch swiper-visible-switch" style="display: none;"></span>
        <span class="swiper-pagination-switch swiper-visible-switch"
          style="display: none;"></span>
          <span class="swiper-pagination-switch swiper-visible-switch" style="display: none;"></span>
          <span class="swiper-pagination-switch swiper-visible-switch"
            style="display: none;"></span>
    </div>
</div>
</div>
</div>
