<div class="main-block clearfix" id="centreressources">
  <!-- SIMPLE TITLE -->
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <div class="block-header">
          <h4 class="block-category"></h4>
          <h2 class="block-title">Etude de Cas</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="small-block">
    <div class="container">
      <div class="simple-slider swiper-container swiper-swiper-unique-id-2 initialized" data-autoplay="0" data-loop="1" data-speed="500"
        data-center="0" data-slides-per-view="1" data-add-slides="2" id="swiper-unique-id-2">
        <div class="swiper-wrapper" style="width: 4320px; transform: translate3d(-2160px, 0px, 0px); transition-duration: 0s; height: 629px;">
          <div class="swiper-slide swiper-slide-duplicate" data-val="3" style="width: 720px; height: 629px;">
            <div class="simple-slide">
              <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-1">
                  <img class="img-responsive" src="../../../assets/images/perfstock/secteurs-themes/administration.jpg" alt="">
                </div>
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0">
                  <h4><a class="simple-title" href="#">Réforme des Administrations</a></h4>
                  <div class="simple-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                      ex ea commodo consequat.</p>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                      laborum.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide" data-val="0" style="width: 720px; height: 629px;">
            <div class="simple-slide">
              <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-1">
                  <img class="img-responsive" src="../../../assets/images/perfstock/secteurs-themes/planification_urbaine.jpg" alt="">
                </div>
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0">
                  <h4><a class="simple-title" href="#">Planification Urbaine</a></h4>
                  <div class="simple-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                      ex ea commodo consequat.</p>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                      laborum.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide" data-val="1" style="width: 720px; height: 629px;">
            <div class="simple-slide">
              <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-1">
                  <img class="img-responsive" src="../../../assets/images/perfstock/secteurs-themes/gouvernance.jpg" alt="">
                </div>
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0">
                  <h4><a class="simple-title" href="#">Gouvernance</a></h4>
                  <div class="simple-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                      ex ea commodo consequat.</p>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                      laborum.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide swiper-slide-visible active swiper-slide-active" data-val="2" style="width: 720px; height: 629px;">
            <div class="simple-slide">
              <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-1">
                  <img class="img-responsive" src="../../../assets/images/perfstock/secteurs-themes/emergence.jpg" alt="">
                </div>
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0">
                  <h4><a class="simple-title" href="#">Mise en Oeuvre des Plans d’Emergence</a></h4>
                  <div class="simple-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                      ex ea commodo consequat.</p>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                      laborum.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide" data-val="3" style="width: 720px; height: 629px;">
            <div class="simple-slide">
              <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-1">
                  <img class="img-responsive" src="../../../assets/images/perfstock/secteurs-themes/administration.jpg" alt="">
                </div>
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0">
                  <h4><a class="simple-title" href="#">Réforme des Administrations</a></h4>
                  <div class="simple-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                      ex ea commodo consequat.</p>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                      laborum.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide swiper-slide-duplicate" data-val="0" style="width: 720px; height: 629px;">
            <div class="simple-slide">
              <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-1">
                  <img class="img-responsive" src="../../../assets/images/perfstock/secteurs-themes/planification_urbaine.jpg" alt="">
                </div>
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0">
                  <h4><a class="simple-title" href="#">Planification Urbaine</a></h4>
                  <div class="simple-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                      ex ea commodo consequat.</p>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                      laborum.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pagination pagination-swiper-unique-id-2"><span class="swiper-pagination-switch"></span><span class="swiper-pagination-switch"></span><span class="swiper-pagination-switch swiper-visible-switch swiper-active-switch"></span><span
            class="swiper-pagination-switch"></span></div>
        <div class="swiper-arrow-left style-2"><img src="../../../assets/images/arrow_left_2.png" alt=""></div>
        <div class="swiper-arrow-right style-2"><img src="../../../assets/images/arrow_right_2.png" alt=""></div>
    </div>
  </div>
</div>
</div>
