<div class="main-block clearfix" id="centreressources">
  <!-- SIMPLE TITLE -->
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <div class="block-header">
          <h4 class="block-category"></h4>
          <h2 class="block-title">Etude de Cas</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="small-block">
    <div class="container">
      <section class="swipe">
        <swiper instance="instance">
          <slides>
            <slide>
              <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-1">
                  <img class="img-responsive" src="../../../assets/images/perfstock/secteurs-themes/administration.jpg" alt="">
                </div>
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0">
                  <h4><a class="simple-title" href="#">Réforme des Administrations</a></h4>
                  <div class="simple-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                      ex ea commodo consequat.</p>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                      laborum.
                    </p>
                  </div>
                </div>
              </div>
            </slide>
            <slide>
                  <div class="row">
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-1">
                      <img class="img-responsive" src="../../../assets/images/perfstock/secteurs-themes/gouvernance.jpg" alt="">
                    </div>
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0">
                      <h4><a class="simple-title" href="#">Gouvernance</a></h4>
                      <div class="simple-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                          et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                          ut aliquip ex ea commodo consequat.</p>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                          id est laborum.
                        </p>
                      </div>
                    </div>
                  </div>
                </slide>
                <slide>
                  <div class="row">
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-1">
                      <img class="img-responsive" src="../../../assets/images/perfstock/secteurs-themes/emergence.jpg" alt="">
                    </div>
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0">
                      <h4><a class="simple-title" href="#">Mise en Oeuvre des Plans d’Emergence</a></h4>
                      <div class="simple-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                          et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                          ut aliquip ex ea commodo consequat.</p>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                          id est laborum.
                        </p>
                      </div>
                    </div>
                  </div>
                </slide>
                <slide>
                  <div class="row">
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-1">
                      <img class="img-responsive" src="../../../assets/images/perfstock/secteurs-themes/administration.jpg" alt="">
                    </div>
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0">
                      <h4><a class="simple-title" href="#">Réforme des Administrations</a></h4>
                      <div class="simple-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                          et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                          ut aliquip ex ea commodo consequat.</p>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                          id est laborum.
                        </p>
                      </div>
                    </div>
                  </div>
                </slide>
          </slides>
          <prev></prev>
          <next></next>
          <pagination></pagination>
        </swiper>
      </section>
    </div>
  </div>
</div>
