<div ng-init="vm.Init()">
  <!-- Default panel contents -->
  <div class="panel panel-default">
    <div class="panel-heading">Forum</div>
    <div class="panel-body">
      <p>Liste des sujets</p>
      <div class="input-group" style="padding: 30px;">
        <span class="input-group-addon" id="basic-addon3">Rechercher</span>
        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" ng-model="query">
      </div>
    </div>
    <!-- Table -->
    <table class="table table-hover">
      <tr>
        <td>Forum</td>
        <td>Date</td>
        <td>Commentaire</td>
        <td>Utilisateur</td>
      </tr>
      <tr ng-repeat="sujet in vm.listeSujets | filter:query">
        <td>
          <div style="padding: 6px;">
            <p class="simple-title"> {{sujet.titre}} </p>
            <p>lremgj dolor sit amet, consectetur adipi fgkgf </p>
          </div>
        </td>
        <td>
          {{sujet.date_creation | date:'dd/MM/yyyy'}}
        </td>
        <td>0</td>
        <td>
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object img-circle" src="../assets/images/perfstock/logo.png" alt="..." height="40px" width="40px;">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Media heading</h4>
              Lorem ipsum dolor sit amet, consectetur tempora expedita vero eius fuga!
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <!--fin panel-->
</div>
