<div class="row" style="margin-bottom: 50px;  padding: 40px;background-color: paleturquoise;">
   <h1 class="block-title" style=" margin: 40px 0 10px 0; font-size: 20px; color: dodgerblue">{{$ctrl.titre}}</h1>

  <h2>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 " >
        <p style="text-indent: 60pt; font-family: 'Crimson Text', serif; font-size: 20px; letter-spacing: 0em; line-height: 1.2em;">
          <!--{{$ctrl.contenu}}-->
          Il se manifeste tout d'abord au plus haut niveau des présidences et des primatures, par la création de bureaux, agences, ou autres cellules de la compétitivité ou de l'émergence. On pourrait même dire que plus l'organe local d'émergence et de compétitivité est haut placé dans la structure d'un état, plus cet état et ses dirigeants montrent leur niveau d'engagement et de 'condition mentale' propice à un vrai processus de transformation.
        </p>
      </div>
      <div class="col-md-2"></div>
    </div>
  </h2>
</div>
