<div class="row" style="margin-bottom: 20px;  padding: 40px;">
   <h1 class="block-title" style="margin: 80px 0 30px 0;">{{$ctrl.titre}}</h1>
  <h1 class="block-category" style="margin: 50px 0 50px 0;">Section d'introduction</h1>
  <h2>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <p style="text-indent: 60pt; font-family: 'Crimson Text', serif; font-size: 28px; letter-spacing: 0em; line-height: 1.2em;">
          {{$ctrl.contenu}}
        </p>
      </div>
      <div class="col-md-2"></div>
    </div>
  </h2>
</div>
