<div ng-init="vm.Init()" class="pilierEm" style="margin-top: 250px;">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-7">
      <form>
        <div class="form-group">
          <label for="libelle">libelle</label>
          <input type="text" class="form-control" id="libelle" placeholder="libelle" ng-model="vm.libelle">
        </div>
        <div class="form-group">
          <label for="intervenant">intervenant</label>
          <input type="text" class="form-control" id="intervenant" placeholder="intervenant" ng-model="vm.intervenant">
        </div>
        <div class="form-group">
          <label for="contenu">Contenu</label>
          <!--<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">-->
          <textarea class="form-control" rows="5" style="resize: none;" ng-model="vm.contenuInterviews"></textarea>
        </div>
        <div class="form-group">
          <label for="image">Choisir une image</label>
          <input type="file" id="image" ng-model="vm.imageInterviews">
          <!--<p class="help-block">Example block-level help text here.</p>-->
        </div>
        <!-- Single button -->
        <div class="form-group">
          <label for="theme">Choisir un theme:</label>
          <select class="form-control" id="theme">
          <option value="">...</option>

          <option ng-repeat="theme in vm.listTheme" value="theme._id" ng-selected="vm.themeinterv" ng-click=""> {{theme.libelle}} </option>
          </select>
        </div>
        <div>
          <div ng-repeat="nb in vm.nblist" class="form-group">
            <label for="questio">Question</label>
            <input type="text" class="form-control" id="questio" placeholder="questio">
            <textarea class="form-control" rows="5" style="resize: none;"></textarea>
            <button type="submit" class="btn btn-default">Supprimer cette question</button>
          </div>
          <div>
            <input type="number" class="form-control" ng-model="vm.nbQuestion">
            <button type="submit" class="btn btn-default" ng-click="vm.addquestion()">Ajouter question</button>
          </div>
        </div>
        <div>
          <button type="submit" class="btn btn-primary" ng-click="">Envoyer</button>
        </div>
      </form>
    </div>
    <!--</div>-->
    <div class="col-md-4">
      <!--<p>The delete user and user index api routes are restricted to users with the 'admin' role.</p>-->
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="interv in vm.listinterview">
          <div>
            <strong>{{interv.intervenant}}</strong><br>
            <span class="text-muted">{{interv.libelle}}</span>
            <!--<span class="text-muted">{{interv.libelle}}</span>-->
          </div>
          <div>
            <strong style="color: red;"> ok {{interv.q.length}} </strong><br>
          </div>
          <a ng-click="" class="trash"><span class="fa fa-trash fa-2x"></span></a>
          <a ng-click="vm.editInterv(interv)" class=""><span class="fa fa-pencil fa-2x"></span></a>
        </li>
      </ul>
    </div>
  </div>
</div>
