.pilierEm {
  margin-top: 170px;
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.img-texte{
    float: left;
    width: 50%;
    
}

.pas{
margin-left: 10px;
}
.premier{
    margin-top: 100px;
}