/*.header { background-color: #222; }*/

.pilierEm {
  margin-top: 170px;
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.img-texte{
    float: left;
    width: 30%;
    margin-right:15px;
    
}
.hover01 figure:hover img {
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
}

#sujet {
  height: 110px;
  transition: .8s ease-in-out;
}

#sujet:hover {
  color: #fff;
  background-color: rgba(73, 106, 181, 0.51);
}


