<div  class="row" style="padding: 40px" ng-repeat="actualite in vm.actualitesPays ">
  <div class="col-md-4">
    <a ui-sref="actualite({libelle:actualite.id_actualite.sujet})">
      <img  class="img-responsive" style = "height: 100px; width: 200px;" src="../../assets/images/perfstock/actualite/{{actualite.id_actualite.image}}" alt="" style="height: 200px;">
    </a>
  </div>
  <div class="col-md-8">
    <h4>
      <p style="font-family: 'Crimson Text', serif; font-size: 28px; letter-spacing: 0.1em; line-height: 1.2em; margin-left: 40%;margin-bottom: 20px;">
        <a ui-sref="actualite({libelle:actualite.id_actualite.sujet})"> {{actualite.id_actualite.sujet}}</a>  </p>
    </h4>
    <div class="">
      <p style="font-family: 'Crimson Text', serif; font-size: 20px; letter-spacing: 0.1em; line-height: 1.2em; text-indent: 35pt;">{{actualite.id_actualite.contenu |limitTo:150 }}</p>
    </div>
  </div>
</div>

