<div class="row" style="padding: 30px 0px 0px 10px" ng-repeat="actualite in vm.actualitesPays ">
  <div>
    <h4>
      <p style="font-family: 'Crimson Text', serif; font-size: 28px; letter-spacing: 0.1em; line-height: 1.2em; margin-left: 40%;margin-bottom: 20px;">
        {{actualite.sujet}} </p>
    </h4>
    <div class="">
      <p style="font-family: 'Crimson Text', serif; font-size: 20px; letter-spacing: 0.1em; line-height: 1.2em; text-indent: 35pt;">{{actualite.contenu |limitTo:150 }}</p>
    </div>
  </div>
</div>
